<!doctype html>
<html lang="zh-CN"><head><meta charset="utf-8"><title>剩余：{{t}}MB</title>
<meta content="True" name="HandheldFriendly"><meta content="width=device-width,minimum-scale=1.0" name="viewport">
<meta name="format-detection" content="telephone=no,email=no,adress=no">
<style>

.main {font-size: 2em;margin:2%;padding: 1%; font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif; background-color:rgba(255, 255, 255, 0.6)}
</style>
</head>
<body style="margin: 0; ">
<p style="
    background-color: hsl(88, 50%, 53%);
">剩余：{{t}}MB</p>
<pre class='main'></pre>
<script type="text/javascript">
data={{d|safe}}
if(localStorage[location.pathname.replace("/","")]){
	document.getElementsByClassName("main")[0].innerHTML="近期使用："+(localStorage[location.pathname.replace("/","")]]-{{t}}).toFixed(2)+" MB"
}
	localStorage[location.pathname.replace("/","")]]={{t}}
document.getElementsByClassName("main")[0].innerHTML+="\n"+data.expire_date
document.getElementsByClassName("main")[0].innerHTML+="\n"+data.real_name+data.id_number
document.getElementsByClassName("main")[0].innerHTML+="\n"+data.set_meal
document.getElementsByClassName("main")[0].innerHTML+="\n"+data.status
</script>

</body></html>